

.container {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    border: 2px solid black;
    margin: 50px 200px;
    max-width: 500px;
    min-height: 500px;
}

.square {
    /* height: 20px;
    width: 20px; */
    background-color: rgb(255,255,255);
    border: 1px solid black;
    height: 35px;
}